<footer>

    <div class="card">
        <div class="card-footer">
          Newspaper Agency Automation System
        </div>
        <!-- <div class="card-body">
          <h5 class="card-title">Made by Group 4</h5>
          <p class="card-text">Members</p>
          <ol>
              <li>Abhishek Kekane</li>
              <li>Akash Kamble</li>
              <li>Jash Seta</li>
              <li>Nikhil Jha</li>
          </ol>
        </div>
      </div> -->
</footer>

<style>
    footer{
        margin-top: 250px;
    }
</style>