<!-- <div class="banner">

</div>
<h1 class="display-4 text-center banner2">
  Newspaper Agency Automation System / <%= title %>
</h1>
 -->

<!-- <style>
    h1{
        margin: 10px;
    }
    
</style> -->

<div class="bg-image box"></div>

<div class="bg-text box">
  <h1>Newspaper Agency Automation System</h1>
</div>

